
<head>
  <title>Rocks, Paper and Scissors for All
  </title>
</head>

<h1>MMORPS</h1>

<p>
  Instructions:  Choose Rock, Paper, or Scissors and the best two out of three will win!
</p>

<table>
  <thead>
    <tr>
      <th> Player </th>
      <th> Score </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td> Human: </td>
      <td> <%= session[:player_score] %> </td>
    </tr>
    <tr>
      <td> Computer: </td>
      <td> <%= session[:computer_score] %> </td>
    </tr>
  </tbody>
</table>

<form action="/choose" method="post">
  <h2>Choose! </h2>
  <input type="submit" name="choice" value="Rock">
  <input type="submit" name="choice" value="Paper">
  <input type="submit" name="choice" value="Scissors">
</form>
